$large: 1200px;
$pad: 1000px;
$middle: 785px;
$small: 500px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(12px + 0.21vw);
    font-family: "Shippori Mincho", serif;
    color: #292f4a;
}

body {
    background: radial-gradient(at 40% 20%, rgb(253, 235, 226) 0px, transparent 50%), radial-gradient(at 88% 1%, rgb(230, 252, 255) 0px, transparent 50%), radial-gradient(at 0% 50%, rgb(246, 218, 220) 0px, transparent 50%), radial-gradient(at 80% 50%, rgb(253, 216, 229) 0px, transparent 50%), radial-gradient(at 80% 100%, rgb(224, 224, 235) 0px, transparent 50%), radial-gradient(at 0% 0%, rgb(255, 245, 250) 0px, transparent 50%) rgb(255, 245, 245);
}

header {
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 9;
    width: 100%;
    opacity: 0;

    .container {
        padding: 1em;
        width: 90%;
        max-width: 1536px;
        margin: auto;
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 10px #fafafa;

        .logo {}

        ul {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                font-size: 14px;
                padding: 1em;
                margin: 0 1em;
            }

            @media (max-width: $small) {
                display: none;
            }
        }
    }
}

main {
    .container {
        width: 100%;
        padding: 0 10vw;
    }

    section {
        padding: 5vw 0;

        span.sub-title {
            font-weight: 300;
            font-size: calc(16px + 0.21vw);
        }

        h1 {
            font-size: calc(24px + 0.8vw);
            margin-bottom: 2.5vw;
            font-weight: 400;
        }

    }

    section.top {
        position: relative;
        min-height: 80vh;
        padding-top: 10vw;

        @media (max-width: $pad) {
            padding-top: 20vh;
        }

        @media (max-width: $small) {
            padding-top: 20vh;
            min-height: 100vh;
        }

        .container {
            display: flex;

            .image-wrapper {
                width: 65%;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .top-image {
                opacity: 0;
                transform: translateY(10%);
            }

            .head-line {
                width: 30%;
                writing-mode: vertical-rl;
                text-orientation: mixed;

                @media (max-width: $small) {
                    writing-mode: unset;
                    text-orientation: unset;
                }

                h1 {
                    padding: 0 2.5vw;
                    height: max-content;
                    overflow: hidden;

                    span.text-wrapper {
                        font-size: calc(24px + 0.8vw);
                        font-weight: 400;
                        transform: translateY(50%);
                        opacity: 0;
                    }
                }

                p.sub-text {
                    position: relative;
                    margin-top: 8em;
                    font-size: calc(16px + 0.21vw);
                    height: max-content;
                    opacity: 0;

                    &::before {
                        content: '';
                        display: block;
                        width: 1px;
                        height: 75px;
                        background-color: #292f4a;
                        position: absolute;
                        bottom: -95px;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }

            @media (max-width:$small) {
                flex-wrap: wrap;

                .image-wrapper {
                    width: 100%;
                    margin-bottom: 5vw;
                }

                .head-line {
                    width: 100%;

                    h1 {
                        padding: unset !important;
                    }

                    p.sub-text {
                        margin-top: 2.5vw !important;

                    }
                }
            }
        }

    }

    section.greeting {

        .container {
            display: flex;
            justify-content: space-around;

            .left,
            .right {
                width: 45%;

                p {
                    line-height: 2;
                }

                .image-wrapper {
                    width: 100%;

                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }

            @media (max-width: $middle) {
                flex-wrap: wrap;

                .left,
                .right {
                    width: 100%;
                    margin-bottom: 2.5vw;
                }
            }
        }
    }

    section.product {
        .container {
            .flex {
                display: flex;
                justify-content: space-around;

                .item {
                    width: 23%;

                    .image-wrapper {
                        width: 100%;

                        img {
                            width: 100%;
                            aspect-ratio: 3/4;
                            object-fit: cover;
                            border-top-left-radius: 50%;
                            border-top-right-radius: 50%;
                        }
                    }

                    p.item-name {
                        font-size: calc(16px + 0.21vw);
                        font-weight: 400;
                        padding: 20px 0px;
                        border-bottom: 1px solid #292f4a;

                        @media (max-width:$small) {
                            font-size: calc(12px + 0.21vw);
                        }
                    }

                    p.text {
                        line-height: 2;
                    }

                    .view-more {
                        margin: 20px 0px;

                        span {
                            position: relative;
                            display: block;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background-color: #292f4a;
                        }
                    }
                }

                .item.up {
                    transform: translateY(10%);
                }

                .item.down {
                    transform: translateY(-10%);
                }

                @media (max-width:$middle) {
                    flex-wrap: wrap;

                    .item {
                        width: 43%;
                        transform: unset !important;
                    }
                }
            }

            .more {
                margin-top: 5vw;
                width: max-content;
                margin-left: auto;
                text-align: right;
                padding: 1em;
                border: 1px solid #292f4a;
                font-weight: 500;
            }

        }
    }

    section.feature {
        .container {
            display: flex;
            justify-content: space-between;

            .left,
            .right {
                width: 45%;

                .image-wrapper {
                    width: 100%;

                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }

                p {
                    line-height: 2;
                    font-size: calc(16px + 0.21vw);
                }

                .more {
                    margin-top: 5vw;
                    width: max-content;
                    margin-left: auto;
                    text-align: right;
                    padding: 1em;
                    border: 1px solid #292f4a;
                    font-weight: 500;
                }
            }

            @media (max-width:$middle) {
                flex-wrap: wrap;

                .left,
                .right {
                    width: 100%;
                    margin-bottom: 2.5vw;
                }
            }
        }
    }

    section.column {
        .container {
            .post-list {
                display: flex;
                justify-content: space-between;

                .post {
                    width: 19%;
                    background-color: #fafafa;
                    box-shadow: 0px 0px 10px #eaeaea;

                    .image-wrapper {
                        width: 100%;

                        img {
                            width: 100%;
                            aspect-ratio: 3/4;
                            object-fit: cover;
                        }
                    }

                    .post-body {
                        padding: 1em;

                        p.post-title {
                            font-size: calc(16px + 0.21vw);
                            font-weight: 600;
                            padding: 20px 0px;
                        }

                        .post-info {
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }

                @media (max-width: $large) {
                    flex-wrap: wrap;

                    .off-middle {
                        display: none;
                    }

                    .post {
                        width: 24%;
                    }
                }

                @media (max-width:$middle) {
                    .post {
                        width: 48%;
                        margin-bottom: 2.5vw;
                    }
                }

                @media (max-width:$small) {
                    .post {
                        width: 98%;
                        margin-bottom: 2.5vw;

                        .image-wrapper {
                            width: 100%;

                            img {
                                width: 100%;
                                aspect-ratio: 16/10;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            .more {
                margin-top: 5vw;
                width: max-content;
                margin-left: auto;
                text-align: right;
                padding: 1em;
                border: 1px solid #292f4a;
                font-weight: 500;
            }
        }
    }

    section.shop {
        .container {
            padding-right: 0;
            display: flex;
            justify-content: space-between;

            .left {
                width: 40%;
                padding-right: 2vw;

                p {
                    line-height: 2;
                    font-size: calc(16px + 0.21vw);

                    @media (max-width:$small) {
                        font-size: calc(12px + 0.21vw);
                    }
                }

                .more {
                    margin-top: 5vw;
                    width: max-content;
                    margin-left: auto;
                    text-align: right;
                    padding: 1em;
                    border: 1px solid #292f4a;
                    font-weight: 500;
                }
            }

            .right {
                width: 60%;

                .image-wrapper {
                    width: 100%;

                    img {
                        width: 100%;
                        aspect-ratio: 16/8;
                        object-fit: cover;
                    }
                }
            }

            @media (max-width: $large) {
                padding-right: 10vw;
                flex-wrap: wrap;

                .left,
                .right {
                    width: 100%;
                    margin-bottom: 2.5vw;
                }
            }
        }
    }

    section.contact {
        .container {

            span,
            h1 {
                display: block;
                width: max-content;
                margin-left: auto;
                margin-right: auto;
            }

            p {
                width: 100%;
                font-size: calc(16px + 0.21vw);
                line-height: 2;
                text-align: center;

                @media (max-width:$small) {
                    font-size: calc(12px + 0.21vw);
                }
            }

            .line {
                width: 100%;

                span {
                    display: block;
                    width: 1px;
                    height: 75px;
                    background-color: #292f4a;
                    margin: 2.5vw auto;
                }
            }

            .contact-btn {
                width: 100%;

                span {
                    display: block;
                    padding: 1em 2.5em;
                    background-color: #292f4a;
                    color: #fff;
                    letter-spacing: 1.25px;
                }
            }
        }
    }
}

footer {
    padding: 5vw 0;
    background-color: #fff;

    .container {
        width: 100%;
        padding: 0 10vw;
    }
}