$large: 1400px;
$middle: 750px;
$small: 500px;

$theme-color: #005bac;
$gray: #f9f8ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-size: calc(12px + 0.21vw);
    font-family: "Oswald", "Noto Sans JP", sans-serif;
}

.container {
    width: 100%;
    padding: 0 10vw;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    border-bottom: 1px solid #eaeaea;
    transform: translateY(-100%);

    .container {
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;

        nav {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .logo {
                font-size: 24px;
                font-weight: 400;
                color: $theme-color;
            }

            ul {
                display: flex;

                @media (max-width: $middle) {
                    display: none;
                }

                a {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 1em 2em;
                }
            }
        }
    }
}

main {
    @media (max-width: $small) {
        .off-mobile {
            display: none;
        }
    }

    section {
        padding: 10vw 0;

        .flex {
            display: flex;
            flex-wrap: wrap;
        }

        .container {
            position: relative;

            h1,
            h2 {
                font-size: calc(24px + 3vw);
                font-weight: 300;
                margin-bottom: 2.5vw;
            }

            span.sub-title {
                position: relative;
                color: $theme-color;
                font-weight: 500;
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 75px;
                    margin-right: 20px;
                    background-color: $theme-color;
                }
            }

            p {
                line-height: 2;
            }

            .wrapper {
                display: flex;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 50px;

                &::before {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: $theme-color;
                    margin-right: 20px;
                }

                .view-more {
                    position: relative;
                    width: max-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    padding: 0.5em 1.5em;
                    border: 1px solid $theme-color;
                    transition: .5s;

                    a {
                        color: $theme-color;
                        font-weight: 400;
                        text-decoration: none;
                        text-wrap: nowrap;
                        transition: .5s;
                    }

                    svg {
                        margin-left: 20px;
                        height: 30px;
                        width: 30px;
                        stroke: $theme-color !important;
                        stroke-width: 1px !important;
                        transition: .5s;
                    }
                }

                .view-more:hover {
                    background-color: $theme-color;

                    a {
                        color: #fff;
                    }

                    svg {
                        stroke: #fff !important;
                    }
                }
            }
        }
    }

    section.top {
        padding-top: 100px;
        min-height: 100vh;
        background-color: #fff;

        @media (max-width:$middle) {
            min-height: unset;
        }

        .container {
            position: relative;

            .left {
                position: relative;
                padding: 4em;
                width: max-content;
                border-radius: 15px;
                transform: translateY(15vh);
                z-index: 5;
                mix-blend-mode: difference;

                @media (max-width:$middle) {
                    padding: 0px;
                    transform: unset;
                    width: 100%;
                }

                @media (max-width: $small) {
                    padding-top: 10vh;
                    padding-bottom: 10vh;
                }

                h1 {
                    height: max-content;
                    overflow: hidden;

                    .text-wrapper {
                        font-size: calc(24px + 2vw);
                        font-weight: 600;
                        color: #fff;
                        transform: translateY(100%);
                    }
                }

                p.sub-text {
                    color: #fff;
                    opacity: 0;
                }
            }

            .small {
                position: absolute;
                top: 5%;
                left: 55%;
                filter: blur(0.5px);
                z-index: 2;
                width: 35vw;
                overflow: hidden;
                border-radius: 20%;
                border-top-left-radius: 0%;
                border-bottom-right-radius: 0%;
                box-shadow: 0px 0px 10px #eaeaea;
                opacity: 0;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                @media (max-width: $small) {
                    top: 40%;
                    left: 45%;
                    width: 50vw;
                }
            }

            .middle {
                position: absolute;
                top: 0;
                left: 10%;
                filter: blur(2px);
                z-index: 1;
                width: 15vw;
                overflow: hidden;
                border-radius: 20%;
                border-top-left-radius: 0%;
                border-bottom-right-radius: 0%;
                box-shadow: 0px 0px 10px #eaeaea;
                opacity: 0;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                @media (max-width: $small) {
                    width: 25vw;
                }
            }

            .large {
                position: absolute;
                top: 85%;
                left: 45%;
                filter: blur(1px);
                z-index: 1;
                width: 25vw;
                overflow: hidden;
                border-radius: 20%;
                border-top-right-radius: 0%;
                border-bottom-left-radius: 0%;
                box-shadow: 0px 0px 10px #eaeaea;
                opacity: 0;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                @media (max-width: $small) {
                    width: 35vw;
                    left: 15vw;
                }
            }
        }
    }

    section.greeting {
        padding-bottom: 0px;

        .container.flex {
            padding-right: unset;

            .left {
                width: 50%;
                padding-right: 10vw;

                @media (max-width: $middle) {
                    width: 100%;
                    margin-bottom: 2.5vw;
                }
            }

            .right {
                width: 50%;

                @media (max-width: $middle) {
                    width: 100%;

                    .image-wrapper {
                        height: 200px;

                        img {
                            height: 200px;
                            object-fit: cover;
                        }
                    }
                }

                .image-wrapper {
                    width: 100%;
                    overflow: hidden;
                    border-top-left-radius: 200px;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    section.news {
        .container {
            .post-list {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                .post {
                    width: 24%;
                    border-radius: 15px;
                    overflow: hidden;
                    padding: 2em;
                    box-shadow: 0px 0px 6px 0px #eaeaea;
                    margin-right: auto;
                    margin-bottom: 25px;

                    @media (max-width: $large) {
                        width: 45%;
                    }

                    @media (max-width:$middle) {
                        width: 100%;
                    }

                    .eye-catch {
                        width: 100%;
                        aspect-ratio: 16/10;
                        background-color: #eaeaea;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .post-body {
                        p.post-title {
                            padding: 20px 0px;
                            font-weight: 600;
                            border-bottom: 1px solid #eaeaea;
                            min-height: 105px;
                        }

                        .post-info {
                            padding-top: 20px;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            span.post-date {
                                color: $theme-color;
                                font-weight: 500;
                            }

                            span.post-category {
                                display: block;
                                font-size: 12px;
                                font-weight: 500;
                                background-color: #eaeaea;
                                padding: 5px;
                                margin: 0px 5px;
                            }
                        }
                    }

                    .post-foot {
                        padding-top: 20px;

                        span {
                            display: block;
                            font-size: 14px;
                            font-weight: 600;
                            color: #fff;
                            background-color: $theme-color;
                            border-radius: 50px;
                            padding: 12px;
                            height: max-content;
                            width: 100%;
                            margin: auto;
                            text-align: center;
                        }
                    }
                }
            }

        }
    }

    section.about {
        .container.flex {
            align-items: stretch;

            .left {
                width: 30%;
                height: 100%;

                @media (max-width: $middle) {
                    width: 100%;
                }

                .image-wrapper {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-top-right-radius: 200px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .right {
                width: 70%;
                padding: 0 5vw;
                box-shadow: 20px 15px 5px #eaeaea;

                @media (max-width: $middle) {
                    width: 100%;
                    background-color: #fff;
                    padding-top: 2em;
                }

                @media (max-width: $small) {
                    padding-left: 0;
                    padding-right: 0;
                    box-shadow: unset;
                }

                h3 {
                    font-size: calc(24px + 0.4vw);
                    margin-bottom: 2.5vw;
                }
            }
        }
    }

    section.service {
        background-color: $gray;

        .container.flex {

            .left,
            .right,
            .middle {
                width: 33.33%;
                padding: 2em;
                border-right: 1px solid #eaeaea;

                @media (max-width:$small) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .left {
                @media (max-width: $large) {
                    width: 100%;
                    border-right-width: 0px;

                }

            }

            .middle,
            .right {
                @media (max-width: $large) {
                    width: 50%;
                }

                @media (max-width: $middle) {
                    width: 100%;
                    border-right-width: 0px;
                    border-bottom: 1px solid #eaeaea;
                }

                .content-head {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5vw;
                    justify-content: space-between;

                    span {
                        font-size: calc(24px + 4vw);
                        font-weight: 300;
                        color: $theme-color;

                    }

                    .icon-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        width: max-content;
                        height: max-content;
                        min-height: 100px;
                        min-width: 100px;
                        border-color: $theme-color;

                        @media (max-width: $small) {
                            min-height: 75px;
                            min-width: 75px;
                        }

                        .icon {
                            height: 50px;
                            width: 50px;
                            stroke: $theme-color !important;
                        }
                    }
                }

                h3 {
                    font-size: calc(22px + 0.4vw);
                    margin: 25px 0px;

                    @media (max-width: $small) {
                        font-size: calc(22px + 0.2vw);
                    }
                }

                ul {
                    padding-left: 2em;

                    li {
                        list-style: none;

                    }
                }
            }
        }
    }

    section.works {
        padding: 5vw 0;

        .container {
            .post-list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-bottom: 2.5vw;

                .post {
                    position: relative;
                    width: 45%;
                    border-bottom: 1px solid #eaeaea;
                    padding: 2em;

                    @media (max-width: $middle) {
                        width: 100%;
                    }

                    .post-info {
                        span {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}
main.archive {
    min-height: 100vh;
    .page-header {
        padding-top: 100px;
        background-color: $gray;
        padding-bottom: 1px;
    }
    .container {
        h1,
        h2 {
            font-size: calc(24px + 3vw);
            font-weight: 300;
            margin-bottom: 2.5vw;
        }

        span.sub-title {
            position: relative;
            color: $theme-color;
            font-weight: 500;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: block;
                height: 1px;
                width: 75px;
                margin-right: 20px;
                background-color: $theme-color;
            }
        }
        .post-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 50px;
            padding-bottom: 2.5vw;

            .post {
                display: block;
                position: relative;
                width: 45%;
                border-bottom: 1px solid #eaeaea;
                padding: 2em;
                text-decoration: none;
                cursor: pointer;
                @media (max-width: $middle) {
                    width: 100%;
                }

                .post-info {
                    span {
                        color: $theme-color;
                    }
                }
                p.post-title {
                    font-size: calc(16px + 0.4vw);
                    transition: .2s;
                }
                p.post-text {
                    padding: 1em;
                    font-size: 14px;
                }
            }
            .post:hover {
                .post-title {
                    color: $theme-color;
                }
            }
        }
        .pagenation {
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px auto;
            padding: 50px 0px;
            span,
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border: 1px solid #eaeaea;
                margin: 5px;
                cursor: pointer;
                text-decoration: none;
            }
            .on {
                background-color: $theme-color;
                color: #fff;
            }
        }
    }
}
main.single {
    min-height: 100vh;
    .page-header {
        padding-top: 100px;
        background-color: $gray;
        padding-bottom: 1px;
    }
    .container {
        h1,
        .page-title {
            display: block;
            font-size: calc(24px + 3vw);
            font-weight: 300;
            margin-bottom: 2.5vw;
        }

        span.sub-title {
            position: relative;
            color: $theme-color;
            font-weight: 500;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: block;
                height: 1px;
                width: 75px;
                margin-right: 20px;
                background-color: $theme-color;
            }
        }
    }
    section.post {
        padding: 5vw 0;
        padding-top: 50px;
        .container {
            max-width: 1600px;
            padding: 0 10vw;
            margin: auto;
            .post-info {
                span.post-date {
                    position: absolute;
                    color: $theme-color;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    top: 0;
                    left: 0;
                }
                h1 {
                    position: relative;
                    font-size: calc(16px + 1vw);
                    font-weight: 300;
                    padding-top: 25px;
                    padding-bottom: 50px;
                    border-bottom: 1px solid $theme-color;
                    @media (max-width: $small) {
                        padding-bottom: 25px;
                    }
                }
            }
            .content {
                margin-bottom: 50px;
                padding-bottom: 100px;
                border-bottom: 1px solid $theme-color;
                @media (max-width: $small) {
                    padding-bottom: 50px;
                }
                h2,
                h3,
                h4 {
                    font-size: calc(16px + 0.4vw);
                    font-weight: 500;
                    margin-top: 50px;
                    margin-bottom: 25px;
                    color: $theme-color;
                }
                h3 {
                    font-size: calc(15px + 0.3vw);
                }
                h4 {
                    font-size: calc(14px + 0.2vw);
                }
                p {
                    line-height: 2;
                    margin-top: 20px;
                }
            }
            .post-nav {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                .prev,
                .next {
                    position: relative;
                    width: 48%;
                    min-width: 300px;
                    border-bottom: 1px solid #eaeaea;
                    padding: 2em;
                    margin-bottom: 20px;
                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: $theme-color;
                    }
                }
            }
        }
    }
}
main.archive.works {
    .container {
        .post-list {
            .post {
                .eye-catch {
                    width: 100%;
                    img {
                        width: 100%;
                        aspect-ratio: 16/9;
                        object-fit: cover;
                    }
                }
                .post-body {
                    p.post-title {
                        margin-top: 20px;
                    }
                    .post-info {
                        display: flex;
                        align-items: center;
                        margin-top: 20px;
                        span.post-category {
                            display: block;
                            font-size: 12px;
                            font-weight: 500;
                            background-color: #eaeaea;
                            padding: 5px;
                            margin: 0px 5px;
                        }
                    }
                }
            }
        }
    }
}

footer.contact {
    padding: 10vw 0;

    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        position: relative;

        h1,
        h2 {
            font-size: calc(24px + 3vw);
            font-weight: 300;
            margin-bottom: 2.5vw;
        }

        span.sub-title {
            position: relative;
            color: $theme-color;
            font-weight: 500;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: block;
                height: 1px;
                width: 75px;
                margin-right: 20px;
                background-color: $theme-color;
            }
        }

        p {
            line-height: 2;
        }

        .wrapper {
            display: flex;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 50px;

            &::before {
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background-color: $theme-color;
                margin-right: 20px;
            }

            .view-more {
                position: relative;
                width: max-content;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                padding: 0.5em 1.5em;
                border: 1px solid $theme-color;
                transition: .5s;

                a {
                    color: $theme-color;
                    font-weight: 400;
                    text-decoration: none;
                    text-wrap: nowrap;
                    transition: .5s;
                }

                svg {
                    margin-left: 20px;
                    height: 30px;
                    width: 30px;
                    stroke: $theme-color !important;
                    stroke-width: 1px !important;
                    transition: .5s;
                }
            }

            .view-more:hover {
                background-color: $theme-color;

                a {
                    color: #fff;
                }

                svg {
                    stroke: #fff !important;
                }
            }
        }
    }

    background-color: $gray;

    .container.flex {
        @media (max-width: $middle) {
            flex-direction: column-reverse;
        }

        .left {
            width: 50%;

            @media (max-width: $middle) {
                width: 100%;
                margin-bottom: 5vw;
            }

            .company-name {
                font-size: calc(24px + 2vw);
                line-height: 2;
                color: $theme-color;
            }

            .service-name {
                font-size: calc(16px + 0.2vw);
                text-decoration: none;
            }

            ul {
                margin-top: 2.5vw;
                display: flex;
                flex-wrap: wrap;

                a {
                    width: 33.33%;
                    display: block;
                    text-decoration: none;
                    padding: 1em 0;
                    margin: 10px;
                    border-bottom: 1px solid #eaeaea;
                    font-weight: 600;
                }
            }
        }

        .right {
            width: 50%;
            margin-bottom: 5vw;

            @media (max-width: $middle) {
                width: 100%;
            }
        }
    }
}
/* single-works settings */
main.single.works {
    section {
        .container {
            .post-info {
                .post-title {
                    .info {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        span.post-date {
                            position: relative;
                        }
                        span.category {
                            display: block;
                            font-size: 12px;
                            font-weight: 500;
                            background-color: #eaeaea;
                            padding: 5px;
                            margin: 0px 5px;
                        }
                    }
                }
            }
            .eye-catch {
                width: 100%;
                img {
                    display: block;
                    width: 100%;
                    max-width: 700px;
                    aspect-ratio: 16/9;
                    margin: auto;
                    object-fit: cover;
                }
            }
            .content {
                ul,
                ol {
                    padding-left: 2em;
                    li {
                        margin-top: 20px;
                    }
                }
                hr {
                    display: block;
                    margin: 50px auto;
                    width: 90%;
                    max-width: 1000px;
                    border: unset;
                    border-top: 2px solid #eaeaea;
                }
            }
        }
    }
}
main.page {
    .page-header {
        position: relative;
        padding-top: calc(10vh + 100px);
        padding-bottom: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        @media (max-width: $middle) {
            padding-top: calc(10vh + 50px);
        }
        .wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            filter: brightness(0.5);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
            }
        }
        .container {
            h1 {
                font-size: calc(24px + 1vw);
                font-weight: 700;
                margin-bottom: 2.5vw;
                color: #fff;
                line-height: 2;
            }
            p {
                color: #fff;
                padding-left: 40vw;
                line-height: 2;
            }
        }
    }
    section {
        padding: 5vw 0;
    }
    section.member {
        .container {
            .member-list {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .member {
                    width: 20%;
                    margin-bottom: 50px;
                    min-width: 300px;
                    @media (max-width: 770px) {
                        margin: auto;
                        margin-bottom: 50px;
                    }
                    .member-image {
                        width: 100%;
                        img {
                            width: 100%;
                            aspect-ratio: 3/4;
                            object-fit: cover;
                        }
                    }
                    .member-profile {
                        padding: 20px 0px;
                        p.position {
                            font-weight: 600;
                            span {
                                display: inline-block;
                                font-weight: 400;
                                font-size: calc(16px + 1vw);
                                color: $theme-color;
                                margin-right: 10px;
                            }
                        }
                        p.member-name {
                            position: relative;
                            display: flex;
                            align-items: center;
                            font-weight: 300;
                            font-size: calc(16px + 0.4vw);
                            text-wrap: nowrap;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 1px;
                                background-color: $theme-color;
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    section.company-info {
        .container {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: 48%;
                    min-width: 300px;
                    list-style: none;
                    padding: 20px 0px;
                    border-bottom: 1px solid #eaeaea;
                    display: flex;
                    align-items: center;
                    @media (max-width: 770px) {
                        margin: auto;
                        width: 100%;
                    }
                    .label {
                        font-weight: 600;
                        min-width: 100px;
                    }
                }
            }
        }
    }
}
/* main.contact settings */
main.page.contact {
    min-height: 100vh;
    .page-header {
        padding-top: 100px;
        background-color: $gray;
        padding-bottom: 1px;
    }
    .container {
        h1,
        h2 {
            font-size: calc(24px + 3vw);
            font-weight: 300;
            margin-bottom: 2.5vw;
            color: #333;
        }

        span.sub-title {
            position: relative;
            color: $theme-color;
            font-weight: 500;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: block;
                height: 1px;
                width: 75px;
                margin-right: 20px;
                background-color: $theme-color;
            }
        }
    }
    .page-content {
        width: 95%;
        max-width: 1000px;
        margin: auto;
        padding: 5vw 0;
        p {
            line-height: 2;
            width: 100%;
            text-align: center;
        }
        form {
            width: 100%;
            max-width: 750px;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            padding: 2em;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            .form-line {
                padding-bottom: 1em;
                margin-bottom: 1em;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                label {
                    display: block;
                    color: $theme-color;
                    padding: .5em;
                    font-weight: 600;
                    font-size: 14px;
                    span {
                        font-size: 12px;
                        color: red;
                    }
                }
                input,
                textarea,
                select {
                    display: block;
                    border: 1px solid #eaeaea;
                    padding: .2em;
                    width: 100%;
                    &:focus {
                        outline: none;
                        border: 1px solid $theme-color;
                    }
                }
                textarea {
                    resize: none;
                    height: 200px;
                }
                input[type="checkbox"] {
                    display: inline;
                    width: max-content;
                }
            }
            .submit {
                display: block;
                width: max-content;
                color: #fff;
                background-color: $theme-color;
                padding: .5em 1.5em;
                margin: auto;
                border: unset;
                cursor: pointer;
            }
        }
    }
}